@font-face {
  font-family: 'belwe';
  src: url('/fonts/BelweMedium.eot');
  src: url('/fonts/BelweMedium.eot') format('embedded-opentype'),
  url('/fonts/BelweMedium.woff2') format('woff2'),
  url('/fonts/BelweMedium.woff') format('woff'),
  url('/fonts/BelweMedium.ttf') format('truetype'),
  url('/fonts/BelweMedium.svg#BelweMedium') format('svg');
}

.fw-normal {
  font-weight: normal;
}

.tt-uppercase {
 text-transform: uppercase;
}

.fs-24px {
  font-size: 24px;
}

.fs-25px {
  font-size: 25px;
}

.fs-27px {
  font-size: 27px;
}

.ta-right {
  text-align: right;
}

.f-tovs {
  font-weight: 500;
  letter-spacing: 0.42px
}
