body {
  background-color: #000;
  color: #fff;

  margin: 0;
  padding: 0;

  font-family: acumin-pro-condensed, sans-serif;

  // Agent props
  //display: block;
  //margin-top: 8px;
  //margin-right: 8px;
  //margin-bottom: 8px;
  //margin-left: 8px;
}

#doublePage {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  //background-position: top right;
  //background-size: cover;
  background-position: top right;
}

.blackBottomGradient {
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.0) 100px);
}
.blackBottomGradientReversed {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
}

.max-width-1200 {
  max-width: 1200px;
}

.margin-0-auto {
  margin: 0 auto;
}

a, a:hover {
  color: inherit;
}
